/***VARIABLES***/
:root {
  --logo-color: hsl(343, 78%, 40%);
  --text-color: hsl(0, 30%, 95%);
  --synopsis-color: #ffff;
  --body-color: hsl(240, 2%, 9%);
  --logo-font: (font-family: 'Bebas Neue', cursive);
  --movie-title-font: (font-family: 'Roboto', sans-serif);
  --body-font: (font-family: 'Roboto', sans-serif);
}

/**RESET**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: var(--body-color);
  font-family: var(--body-font);
  color: var(--text-color);
}

/***WRAPPER***/

.container {
  margin-left: 1.25rem;
}

/**HEADER**/

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 0.625rem;
  color: var(--logo-color);
  font-family: var(--logo-font);
  font-size: 2.5rem;
  font-weight: bolder;
}

header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li a {
  color: var(--text-color);
  margin-right: 0.875rem;
}

nav ul li {
  text-align: center;
}

header nav a:hover {
  color: #ffff;
}

header nav ul li a {
  transition: color 0.3s;
  position: relative;
}

header nav ul li a::after {
  content: '';
  width: 0%;
  height: 1px;
  background-color: var(--logo-color);
  position: absolute;
  left: 0;
  bottom: -1rem;
  transition: width 0.2s;
}

header nav ul li a:hover::after,
header nav ul li a.active::after {
  width: 100%;
}

/***MAIN***/

/**Main Movie Highlight**/

.main-highlight {
  font-size: 1rem;
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5) 100%),
    url('/assets/img/Peaky_cover.jpg');
  height: 25rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-highlight .title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 10%;
}

.main-highlight .synopsis {
  color: var(--synopsis-color);
  margin-bottom: 10%;
  margin-top: 0.625rem;
}

.button {
  background-color: rgb(0, 0, 0, 0.6);
  border: none;
  color: hsl(0, 30%, 95%);
  padding: 1rem 2rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.3s ease all;
  max-width: 100%;
}

i {
  margin-right: 1rem;
}
.button:hover {
  background-color: var(--text-color);
  color: var(--body-color);
}

.main-highlight .container {
  width: 70%;
  max-block-size: 25rem;
}

/***CARROUSEL***/

.section-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.box-sample {
  height: 100%;
  width: 100%;
  display: inline-block;
}

/****RESPONSIVE****/

@media screen and (max-width: 575px) {
  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
  }

  header .logo {
    margin-bottom: 0.625rem;
  }

  main .main-highlight .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 546px) {
  .button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 369px) {
  .title {
    font-size: 1.5rem;
    margin-top: 5%;
  }

  .main-highlight .container {
    height: 100%;
    flex-wrap: wrap;
  }

  .synopsis {
    margin-bottom: 0;
  }

  .button {
    padding: 1rem 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-right: 0;
    width: 30%;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .synopsis {
    width: 50%;
  }
}
